html, body {
	font-family: 'Coda', cursive;
}


#buildingRoomQuery {
	width: 400px;
	height:100px;
	text-align:center;
	border-radius:15px;
	border-width:2px;
	border-color:black;
	border-style: solid;
	margin: 0px auto;
}

#errorMessage
{
	width: 400px;
	height:50px;
	text-align:center;
	border-radius:15px;
	border-width:2px;
	border-color:black;
	border-style: solid;
	margin: 0px auto;
	color: red;
	padding-top:20px;
}

#results
{
	width: 400px;
	text-align:center;
	border-radius:15px;
	border-width:2px;
	border-color:black;
	border-style: solid;
	margin: 0px auto;
	padding-top:20px;
	padding:10px;
}

#header {
	background-image:url('../images/header.jpg');
	width:412px;
	height:106px;
	margin: 0px auto;
}

#lulzyMessage {
	color:green;
	size:18pt;
	width:400px;
	margin:0px auto;
	text-align:center;
	padding:5px;
}

#instructionMenu {
	size:18pt;
	width:400px;
	margin:0px auto;
	text-align:center;
	padding:5px;
}

#information {
	size:18pt;
	width:400px;
	margin:0px auto;
	text-align:center;
	padding:5px;
}