#buildingRoomQuery {
	width: 400px;
	height:100px;
	text-align:center;
	border-radius:15px;
	border-width:2px;
	border-color:black;
	border-style: solid;
	margin: 0px auto;
}

#errorMessage
{
	width: 400px;
	height:50px;
	text-align:center;
	border-radius:15px;
	border-width:2px;
	border-color:black;
	border-style: solid;
	margin: 0px auto;
	color: red;
	padding-top:20px;
}

#results
{
	width: 400px;
	text-align:center;
	border-radius:15px;
	border-width:2px;
	border-color:black;
	border-style: solid;
	margin: 0px auto;
	padding-top:20px;
}